<html>
  <head>
    <title>Lista de Tarefas</title>
    <style>
      .del:checked + span {
        color: red;
      }

      .task-list {
        list-style: none;
      }
    </style>
  </head>

  <body>
    <form method="post" action="/task/add">
      <label for="">Adicionar Tarefa</label>
      <input type="text" name="task" placeholder="Nova tarefa">
      <input type="submit" value="Salvar">
    </form>
    
    
    <%= title %>
    
    <form action="/task/delete" method="post">
      <ul class="task-list">
        <% tasks.forEach(function(task){ %>
          <li>
            <label>
              <input type="checkbox" name="tasks" class="del" value="<%= task %>">
              <span><%= task %></span>
            </label>
          </li>
        <% }) %>
      </ul>
      <input type="submit" value="Remover tarefas selecionadas">
    </form>
    
    <h3>Novo Compromisso</h3>
    Nome: <%= call.name %><br>
    Empresa: <%= call.company %><br>
    Telefone: <%= call.phone %><br>
    Dia e hora: <%= call.time %><br>
    
    <h3>Editar próximo compromisso</h3>
    <form action="/call/add" method="post">
      <label for="">Compromisso</label>
      <input type="text" name="name" placeholder="Prova de AD">
      <br><br>
      <label for="">Empresa</label>
      <input type="text" name="company" placeholder="UFG">
      <br><br>
      <label for="">Telefone</label>
      <input type="text" name="phone" placeholder="62 30988581">
      <br><br>
      <label for="">Dia e Hora</label>
      <input type="text" name="time" placeholder="02/07/2019 20:00">
      <br><br>
      <input type="submit" value="Salvar">
    </form>
  </body>
</html>

